#main {
    max-width: 500px;
    margin: auto;
}

.pet {
    border: 3px dashed black;
    border-radius: 15px;
    border-color: #fa0099;
    cursor: pointer;
    box-shadow: 20px 10px 8px 2px grey;
}
